<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastro de Locação</li>
</ol>

<div class="container">
  <form (ngSubmit)="cadastrarLocacao()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID</label>
          <input type="text" class="form-control" disabled="true" [(ngModel)]="cliente.id" name="id" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.name" name="name" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Inicial</label>
          <input type="text" class="form-control" name="dataInicial" disabled="true" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Final</label>
          <input type="text" class="form-control" name="dataFinal" disabled="true" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Status</label>
          <select class="form-control" [(ngModel)]="cliente.locacaoStatus" name="locacaoStatus">
            <option *ngFor="let status of locacaoStatuses" [value]="status">{{status}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i>
          Cadastrar
        </button>
      </div>
    </div>
  </form>
</div>
