<div class="container">
  <div class="container-fluid">
    <h1 class="mt-4">Consulta de Cadastro</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Consulta</li>
    </ol>

    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-warning" (click)="novoCadastro()">
          <i class="fa fa-plus"></i>
          Novo Cadastro
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Data Inicial</th>
              <th>Data Final</th>
              <th>Status</th>
              <th>Veiculo</th>
              <th>Tipo de Veiculo</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let cliente of cliente">
              <tr *ngFor="let locacao of cliente.locacoes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.name }}</td>
                <td>{{ cliente.locacaoStatus }}</td>
                <td>{{ locacao.id }}</td>
                <td>{{ locacao.dataInicial }}</td>
                <td>{{ locacao.dataFinal }}</td>
                <td>{{ locacao.veiculo }}</td>
                <td>{{ locacao.descricao }}</td>
                <td>{{ locacao.tipoVeiculo }}</td>
                <button class="btn btn-primary" routerLink="/cadastrar/{{cliente.id}}{{cliente.value}}">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="preparaDelecao(cliente)" data-toggle="modal" data-target="#modalDelecao" >
                  <i class="fa fa-trash"></i>
                </button>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmação</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Confirma Excluir {{ clienteSelecionado?.name }} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Excluir</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>
