<div class="container">
  <div class="container-fluid">
    <h1 class="mt-4">Consulta de Cadastro</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Consulta</li>
    </ol>

    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-warning">
          <i class="fa fa-plus"></i>
          Novo
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Data Inicial</th>
              <th>Data Final</th>
              <th>Status</th>
              <th>Veiculo</th>
              <th>Tipo de Veiculo</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let cliente of cliente">
              <tr *ngFor="let locacao of cliente.locacoes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.name }}</td>
                <td>{{ cliente.locacaoStatus }}</td>
                <td>{{ locacao.id }}</td>
                <td>{{ locacao.dataInicial }}</td>
                <td>{{ locacao.dataFinal }}</td>
                <td>{{ locacao.veiculo }}</td>
                <td>{{ locacao.descricao }}</td>
                <td>{{ locacao.tipoVeiculo }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
