<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" routerLink="/greetings"
          ><div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Home</a
        >
        <div class="sb-sidenav-menu-heading">Interface</div>
        <a
          class="nav-link collapsed"
          data-toggle="collapse"
          data-target="#collapseLayouts"
          aria-expanded="false"
          aria-controls="collapseLayouts"
          ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Serviços
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i></div
        ></a>
        <div
          class="collapse"
          id="collapseLayouts"
          aria-labelledby="headingOne"
          data-parent="#sidenavAccordion"
        >
        <nav class="sb-sidenav-menu-nested nav">
        <a class="nav-link" routerLink="/cadastrar">Cadastrar Cliente</a>
        <a class="nav-link" routerLink="/consultar">Consultar Cliente</a>
        </nav>
        </div>
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapsePages"
          aria-expanded="false"
          aria-controls="collapsePages"
          ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
          Descrição
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i></div
        ></a>
        <div
          class="collapse"
          id="collapsePages"
          aria-labelledby="headingTwo"
          data-parent="#sidenavAccordion"
        >
          <nav
            class="sb-sidenav-menu-nested nav accordion"
            id="sidenavAccordionPages">
            <a
              class="nav-link collapsed"
              href="#"
              data-toggle="collapse"
              data-target="#pagesCollapseAuth"
              aria-expanded="false"
              aria-controls="pagesCollapseAuth"
              >Links Importantes
              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i></div
            ></a>
            <div
              class="collapse"
              id="pagesCollapseAuth"
              aria-labelledby="headingOne"
              data-parent="#sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="https://github.com/RobsonFe/rentServiceFront"target="_blank">Repositório do Projeto</a
                ><a class="nav-link" href="https://docs.google.com/document/d/1TDdKUlNRj9m_nURjmPE4De3XRjnuBY-6BG_L7rO2Of8/edit"target="_blank">Documentação</a
                ><a class="nav-link" href="https://drive.google.com/file/d/1eauvYGpxh5Y45gToOZQT3HkDxKTgD-vG/view"target="_blank">Instruções do Projeto</a>
              </nav>
            </div>
            <a
              class="nav-link collapsed"
              href="#"
              data-toggle="collapse"
              data-target="#pagesCollapseError"
              aria-expanded="false"
              aria-controls="pagesCollapseError"
              >Desenvolvedor
              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i></div
            ></a>
            <div
              class="collapse"
              id="pagesCollapseError"
              aria-labelledby="headingOne"
              data-parent="#sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="https://github.com/RobsonFe"target="_blank">GitHub</a
                ><a class="nav-link" href="https://www.instagram.com/rob_ferreira88/"target="_blank">Instagram</a
                ><a class="nav-link" href="https://www.linkedin.com/in/robson-ferreira-508247134/"target="_blank">Linkedin</a>
              </nav>
            </div>
          </nav>
        </div>
        <div class="sb-sidenav-menu-heading">Mais Projetos</div>
        <a class="nav-link" href="charts.html"
          ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
          Back-End</a
        ><a class="nav-link" href="tables.html"
          ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Front-End</a
        >
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      Administrador
    </div>
    <div class="nav-link data">Copyright &copy; {{ anoAtual }}</div>
  </nav>
  <div></div>
  <div></div>
</div>
